<head>
<meta charset="utf-8">
<title>onion个人博客</title>
<meta name="keywords" content="个人博客,onion个人博客,个人博客模板,onion" />
<meta name="description" content="onion个人博客" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/m.css') }}" rel="stylesheet">

<script src="static/js/jquery.min.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.easyfader.min.js') }}"></script>
{#<script src="static/js/jquery.easyfader.min.js"></script>#}
<script src="static/js/scrollReveal.js"></script>
<script src="static/js/common.js"></script>
<!--[if lt IE 9]>
<script src="static/js/modernizr.js"></script>
<![endif]-->
</head>
 <!--menu begin-->
<header>
    <div class="menu">
    <nav class="nav" id="topnav">
      <h1 class="logo"><a href="{{ url_for('auth.login') }}">onion博客</a></h1>
      <li><a href="{{ url_for('front.index') }}">主页</a> </li>
      <!--
      <li><a href="{{ url_for('front.blog_list') }}">学无止境</a>
        <ul class="sub-nav">
          <li><a href="{{ url_for('front.blog_list') }}">front.blog_list</a></li>
          <li><a href="{{ url_for('front.blog_list') }}">front.blog_list</a></li>
        </ul>
      </li>
        -->
        <!--
      <li><a href="{{ url_for('front.life') }}">慢生活</a>
        <ul class="sub-nav">
          <li><a href="{{ url_for('front.life') }}">front.life</a></li>
          <li><a href="{{ url_for('front.life') }}">front.life</a></li>
        </ul>
      </li>
      -->
      <li><a href="{{ url_for('front.timesheet') }}">时间轴</a> </li>
      <li><a href="{{ url_for('front.leave_message') }}">留言</a> </li>
        <li><a href="{{ url_for('front.about') }}">关于我</a> </li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('front.add_essay') }}">来一篇</a> </li>
        {% endif %}
    </nav>
  </div>


<div class="">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>

</header>
<!--menu end-->

