
 <div class="sidebar">

    <div class="zhuanti">
      <h2 class="hometitle">特别推荐</h2>
      <ul>
          {% for rand_essay in rand_essay_list[0:3] %}
        <li> <i><img src={{ url_for('static', filename='images/b05.jpg') }}></i>
          <p>{{ rand_essay.title }} <span><a href={{ url_for('front.post_essay',id=rand_essay.id) }}>阅读</a></span> </p>
        </li>
          {% endfor %}
      </ul>
    </div>

    <div class="tuijian">
      <h2 class="hometitle">推荐文章</h2>
      <ul class="tjpic">
        <i><img src={{ url_for('static', filename='images/toppic01.jpg') }}></i>
        <p><a href={{ url_for('front.post_essay',id=rand_essay_list[3].id) }}>{{ rand_essay_list[3].title }}</a></p>
      </ul>

      <ul class="sidenews">
          {% for rand_essay in rand_essay_list[4:] %}
        <li> <i><img src="{{ url_for('static', filename='images/v2.jpg') }}"></i>
          <p><a href={{ url_for("front.post_essay",id=rand_essay.id) }}>{{ rand_essay.title }}</a></p>
          <span>{{ rand_essay.timestamp }}</span> </li>
          {% endfor %}
      </ul>
    </div>

    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>
        <a href="#">python</a>
          <a href="#">生活</a>
          <a href="/">徒步</a>
          <a href="/">学习</a>
          <a href="/">青春</a>
          <a href="/">温暖</a>
          <a href="/">向阳</a>

      </ul>
    </div>
     <div class="links">
      <h2 class="hometitle">友情链接</h2>
      <ul>
        <li><a href="https://blog.csdn.net/onionnmmn" target="_blank">CSDN博客</a></li>
        <li><a href="https://github.com/onionzhou" target="_blank">Github</a></li>
      </ul>
    </div>

    <div class="guanzhu" id="follow-us">
      <h2 class="hometitle">关注我们 么么哒！</h2>
      <ul>
        <li class="qq"><a href="#" target="_blank"><span>QQ号</span>892723057</a></li>
        <li class="email"><a href="#" target="_blank"><span>邮箱帐号</span>dkonion@foxmail.com</a></li>
        <li class="wxgzh"><a href="#" target="_blank"><span>微信号</span>xxxxx微信号</a></li>
{#        <li class="wx"><img src="#"></li>#}
      </ul>
    </div>
  </div>
