{% include "_base.html" %}

<article>
  <!--banner begin-->
  <div class="blank"></div>
  <!--blogsbox begin-->
  <div class="blogsbox">
      {% for essay in essays %}
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href={{ url_for('front.post_essay',id=essay.id) }} target="_blank">{{ essay.title }}</a></h3>
      <span class="blogpic"><a href="/" title=""><img src="{{ url_for('static', filename='images/toppic01.jpg') }}"
                                                      alt=""></a></span>
        <p class="blogtext">{{ essay.body_html }}</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">{{ essay.author }}</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">{{ essay.timestamp }}</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div>
      {% endfor %}
</div>
  <!--blogsbox end-->
{% include "_right.html" %}
</article>

{% include "_footer.html" %}



